
$active: #007bff;
$inactive: #a4a5a6;
$active-bottom: 2px solid $active;
$inactive-bottom: 2px solid $inactive;
$max: 70em;
$links: #808080;
$title-links: #4b4a4a;
$all-link: #4b4a4a;
.capture{
    color: $active;
    font-weight: bold;
}

header {
    height: 3em;
    position: sticky;
    top: 0;
    border: 1px solid grey;
    z-index: 1020;
    box-shadow: 20px 20px 20px grey;
    nav{
        background-color: '#e3f2fd';
        img{
            width: 5em;
        };
        .nav-center{
            width: 100%;
            text-align: center;
            > li {
            float: none;
            display: inline-block;
            }
        }
    }
}

.section{
    .list{
        max-width: $max;
        margin: auto;
    }
    .jumbotron{
        margin-bottom: 1px;
    }
    .container-links{
        flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
        .link{
            display: flex;
            flex-basis: 12em;
            flex-grow: 3;
                >div{
                    margin: 10px;
                    >div{
                        margin: 8px;
                    }
                    img{
                    max-width: 100%;
                    border-radius: 8px;
                    };
                
                };
        };
    }  
        .item:hover{
            background-color: white;
            border-radius: 8px;
            box-shadow: 1px 1px 1px 1px grey;
        }  
    .all{
        margin: auto;
        text-align: center;
        color: $active;
        font-size: 20px;
        margin-top: 4em;
    }
    .all:hover{
        color: #2f90f7;
    }
}   
.news{
    background-color:white;
}

.nav {
    display: flex;
    overflow: hidden;
    a {
        float: left;
        display: block;
        color: $inactive;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-bottom: $inactive-bottom;
        }
    :hover {
        color: $active;
    }
    a.active {
        border-bottom: $active-bottom;
        color: $active;
    }    
    .empty{
        display: flex;
        flex-grow: 1
        }
}


footer{
    .container{
        max-width: $max;
    }
    .logos{
        .my-logo img{
            width: 7em;
        }
        .soc-logos{
            display: flex;
            justify-content: end;
            i{
                font-size: 30px;
            }
        
        }
    }
    .links{
        display: flex;
        flex-flow: row wrap;
        .third-column{
            margin-top: 20px;
        }
        div{
            display: flex;
            flex-direction: column;
        };
    }
    i{
        color: $title-links;
    }
    a{
        color: $links;
    };
}

a{
    color: grey;
}
a:hover{
    text-decoration: none;
    color: grey;
}
.title{
    @extend .capture
}